<style>
body {
	font:16px arial,sans-serif;
}

td {
	width: 70px;
	height: 70px;
	text-align: center;
	border: 1px solid #000000;
	border-collapse: collapse;
	border-radius: 8px;
	-moz-border-radius: 8px;
}

td.empty {
	width: 70px;
	height: 70px;
	text-align: center;
	border: 1px solid #ffffff;
	border-collapse: collapse;
}
.empty {
	background-color: #ffffff;
}

.available {
	background-color: #00ff00;
}

.locked {
	background-color: #ffa0a0;
}

.free {
	background-color: #a0a0ff;
}

.selected {
	background-color: #a0a0ff;
}

ul.navbar {
position: absolute;
top: 26px;
left: 10px;
list-style-type: none;
}

table.switchboard {
position: absolute;
left: 160px;
}

li {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

li.selected {
background-color: #c0c0c0;
}
li.link {
background-color: #c0ffff;
}

</style>
